 
.square {
  height: 600px;
  width: 900px;
  background-image: url("pics/pic13.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  

}
div h3 {
	color: #FFFF00;
	font-family: apple chancery;
	font-size: 2em;
}

div h2 {
	color:#FFFF00;
	font-family: apple chancery;
	font-size: 2em;
}

div img {
	width: 180px;
	height:180px;


}

.div2 {
	width: 550px;
	height: 350px;
	border: 1px solid yellow;
	background-image: url("pics/pic2.jpg");
	background-repeat: no-repeat;
    border-radius: 8px;
	background-size: 550px 350px;


}

div h4 {
	color: #C71585;
	font-family: monserrat;
	font-size: 1.8em;
  position: absolute;
  width: 50%;
  bottom: 130px;
  text-align: left;
  -webkit-text-stroke: 0.25px yellow;

} 

div p {
		color: #C71585;
	font-family: monserrat;
	font-size: 1.2em;
  position: absolute;
  width: 50%;
  bottom: 80px;
  text-align: left;

}

a {
	color: #FFFF00;
	 position: absolute;
  width: 50%;
  bottom: 80px;
 padding-left: 10px;

}

.logo {
		 position: absolute;
  width: 50%;
  bottom: 70px;
  text-align: center;
  margin: auto 190px;
  padding-right: 60px;

}

body {
	background-repeat: repeat;
	background-size: 100%;
}

